.gradle
.idea
/local.properties
/build
/app/build
/models/build
/wear/build
.DS_Store
*.md5
*.lst
*.iml
*.iml
.gradle
/local.properties
.DS_Store
build/
/captures
.externalNativeBuild
.idea
/gradle*
!gradle.properties
